/* Import af fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Fjern af margin og padding + sørger for at hjemmesiden scroller smooth når en knap scroller for en */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Laver variabler til at putte farver og font på */
:root {
    --background-color: #011c26;
    --primary-text-color: #05f2af;
    --secondary-text-color: #f28705;
    --text-shadow:#f25c05;
    --heading-font: 'Montserrat', sans-serif;
}
/* Lavet basic font i body samt bagrunds- og tekstfarve */
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-text-color);
}
/* Puttet baggrundsbillede på for design */
.bimg{
    background-image: url(/images/trekant.png);
    background-size: 60%;
    background-repeat: no-repeat;
}
/* Basic styling af tekst */
h1 {
    font-family: var(--heading-font);
    font-size: 30px;
    color: var(--primary-text-color);
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
}

h2{
    font-size: 30px;
    color: var(--primary-text-color);
}

h3{
    font-size: 24px;
}

p {
    font-size: 20px;
}

p b {
    color: var(--text-shadow);
}

b {
    color: var(--text-shadow);
}

.h2intro {
    color: var(--secondary-text-color);
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-top: 0.5rem;
}

.h3intro {
    color: var(--secondary-text-color);
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    margin-top: 0.5rem;
}

.h2who {
    font-size: 30px;
    font-weight: 300;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

/* Giver p tag til intro om mig størrelse og border til design */

.pwho{
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    font-weight: 300;
    border-top: 2px solid var(--primary-text-color);
    border-left: 2px solid var(--primary-text-color);
    padding: 1rem;
    padding-right: 0.5rem;
    width: 21.25rem;
    height: 9.5rem;
}
/* To flyvende borders til design */
.borderwhobot{
    border-bottom: 2px solid var(--primary-text-color);
    width: 4rem;
    position: absolute;
    top: 39.95rem;
    left: 20.35rem;
}

.borderwhoright {
    border-right: 2px solid var(--primary-text-color);
    height: 3rem;
    position: absolute;
    top: 36.95rem;
    left: 24.25rem; 
}
/* Billedet af mig på forside*/
.imgme {
    display: block;
    width: 50%;
    border: 3px solid var(--primary-text-color);
    margin: 0 auto;
    margin-top: 1rem;
}
/* Knap til at komme på omkring mig siden*/
.learnme {
    position: absolute;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 20px;
    padding: 0.5rem;
    border: 3px solid var(--primary-text-color);
    top: 35.75rem;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
}

/* Section med teskt og pil der viser til projekter */
.projectsintro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5rem;
    background-color: var(--background-color);
    width: max-content;
}

.projectsintro h2 {
    font-weight: 300;
    line-height: 54px;
}

.projectsintro img {
    background-color: var(--secondary-text-color);
    border-radius: 45px;
    width: 32px;
    height: 32px;
    padding: 8px;
    margin-left: 0.75rem;
}
/* Styling af de forskellige projekter på forsiden */
.project {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.project h2{
    font-weight: 300; 
}

.project h3{
    font-weight: 300;
}
.project h3:nth-child(2) {
    font-weight: 400;
    
}
.project img{
    width: 362px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--primary-text-color);
}

.project a{
    font-size: 20px;
    border: 2px solid var(--primary-text-color);
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--secondary-text-color);
}
/* Video til forside */
.video {
    margin: 1.5rem;
}
.videoframe{
    margin-top: 1.5rem;
    width: 360px;
    height: 200px;
    border: 2px solid var(--primary-text-color);
}

/* ----- Omkring mig side ----- */
/* Billede af mig  */
.imgabout {
    display: block;
    width: 60%;
    border: 3px solid var(--primary-text-color);
    margin: 0 auto;
    margin-top: 1rem;
}
/* Basic styling af tekst og sections, margin og font */
.abouth1{
    margin-top: 3rem !important;
}
.abouth3 {
    margin-top: 1.25rem;
    font-size: 24px;
    font-weight: 400;
}

.abouth4 {
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: 300;
}

.prevocc {
    margin-top: 1.25rem;
}

.prevocc h3{
    font-size: 24px;
    font-weight: 400;
}

.prevocc h3:nth-child(1){
    color: var(--text-shadow);
    font-weight: bold;
}

.prevocc h4{
    margin-top: 0.25rem;
    font-size: 20px;
    font-weight: 300;
}

.aboutfinal {
    margin-bottom: 3rem;
}

/* ----- Styling generelt til projektsiderne ----- */
/* Tilbage til forside knappen i bunden */
.tostart {
    display: block;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
    padding: 0.5rem;
    width: max-content;
    border: 2px solid var(--primary-text-color);
}
/* Kontakt info styling */
.contactinfo {
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.contactinfo h2 {
    font-size: 30px;
    color: var(--primary-text-color);
    font-weight: 300;
}
.contactinfo h3 {
    font-size: 24px;
    font-weight: 300;
}
/* Overskrifter til projektsiderne */
.projecth1{
    font-size: 34px;
    margin-top: 4rem;
}

.projecth2 {
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 300;
}

.projecth3 {
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 300;
  color: var(--primary-text-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.projecth4{
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-text-color);
}

/* Til sections på mine projektsider */
.projectsection {
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-right: 1.5rem;
}
.projectsection img{
    width: 99%;
    border: 3px solid var(--primary-text-color);
}

.projectsection img:nth-child(3){
    margin-top: 1rem;
}

.projectsection p {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/* Tilbage knap til projekt sider */
.arrowback {
    background-color: var(--secondary-text-color);
    border-radius: 45px;
    width: 28px;
    height: 28px;
    padding: 5px;
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
}

/* Styling inden tekst bliver til animation */
.ml12 {
    font-weight: 400;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* Specifikt til rhythmsiden pga. meget anderledes billede */
.rhythmmood {
    width: 80% !important;
    display: block;
    margin: 0 auto;
}

  @media only screen and (min-width: 1800px) {
      /* Forside og generelt */
      /* Baggrundsbillede */
      .bimg {
          background-size: 50%;
      }
      /* Overskrifter/tekst */
      h1 {
          font-size: 60px;
          text-align: left;
          margin-left: 7rem;
          margin-top: 7rem;
      }
      .h2intro {
          font-size: 40px;
          text-align: left;
          margin-left: 7rem;
      }

      .h3intro {
          font-size: 30px;
          text-align: left;
          margin-left: 7rem;
      }
      /* Billede af mig forside */
    .imgme {
        width: 25%;
        margin-right: 13rem;
        margin-top: -5rem;
        border: 3px solid var(--primary-text-color);
    }
    /* Introduktion af hvem jeg er forside */
    .whoami {
        position: absolute;
        top: 20rem;
        left: 7rem;
    }
    .h2who {
        margin: 0;
        font-size: 40px;
        margin-top: 5rem;
    }
    .pwho {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        width: 70%;
        padding-right: 1rem;
        border-top: 3px solid var(--primary-text-color);
        border-left: 3px solid var(--primary-text-color);
    }
    /* Knap til omkring mig siden */
    .learnme {
        font-size: 30px;
        top: 15rem;
        border: 3px solid var(--primary-text-color);
        transform: none;
        left: 37%;
        transform: translate(-50%);
    }
    /* Borders til design styling */
    .borderwhobot {
        border-bottom: 3px solid var(--primary-text-color);
        top: 19.85rem;
        left: 51.7rem;
    }
    .borderwhoright {
        border-right: 3px solid var(--primary-text-color);
        left: 55.5rem;
        top: 17.0rem;
    }
    /* Splitbar på forside til design */
    .frontsplitbar {
        position: absolute;
        z-index: -1;
        top: 53.1rem;
        width: 99.5%;
        border-top: 2px solid var(--primary-text-color);
        border-style: dashed;
        color: transparent;
    }
    /* Introduktions pil til projekter på forside*/
    .projectsintro {
        margin-top: 8rem;
        margin-bottom: 5rem;
        padding-left: 1.45rem;
        padding-right:1.45rem;
    }
    /* Grid til projekter på forside */
    .projectgrid {
        margin-left: 7rem;
        margin-right: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 12rem;
        grid-template-areas:
        ". ."
        ". .";
    }

    .projectgrid div {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        margin-left: 0;
    }
    
    .projectgrid div h2{
        font-size: 40px;
    }

    .projectgrid div img {
        width: 100%;
        height: 375px;
    }

    .projectgrid div a{
        width: max-content;
    }
    /* Video på forside */
    .pvideo {
        margin-right: 7rem;        
        margin-left: 7rem;
    }

    .pvideo h2 {
        text-align: center;
        font-size: 40px;
    }
    .pvideo h3{
        text-align: center;
        margin-top: 0.5rem;
    }
    .pvideo h3:nth-child(2){
        font-size: 30px;
    }

    .videoframe {
        display: block;
        margin: 0 auto;
        margin-top: 3rem;
        width: 50%;
        height: 500px;
    }
/* Baggrundselement som ekstra baggrundsbillede design */
    #backgroundelement {
        position: absolute;
        z-index: -1;
        background-image:url(/images/trekant.png);
        width: 1000px;
        height: 1000px;
        right: 0rem;
        top: 140rem;
        transform: rotate(180deg);
    }
/* Fjerne knap der ikke skal være på desktop */
    .tostart {
        display: none;
    }

/* Omkring mig side */
    .imgabout {
        width: 25%;
        margin-left: 7rem;
        margin-top: 5rem;
        border: 3px solid var(--primary-text-color);
    }
    .aboutme{
        display: block;
        position: absolute;
        margin: 0rem !important;
        top: 12rem;
        width: 100%;
        left: 47rem;
    }
    .aboutsection {
        margin-top: 5rem;
    }
    .aboutfinal {
        margin-top: 5rem;
    }
/* Responsive til projekter */
    .projectsection {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    .projectsection img {
        width: 600px;
    }

    .projectsection p {
        width: 45%;
        font-size: 24px;
    }
    .projecth1 {
        text-align: center;
        font-size: 60px;
        margin-top: 2rem;
        margin-left: 0;
    }

    .projecth2{
        font-size: 40px;
    }
    
    .projecth3 {
        font-size: 30px;
    }

    .projecth4{
        font-size: 24px;
        margin-bottom: 3rem;
    }

    .arrowback {
        width: 2.5rem;
        height: 2.5rem;
        top: 1.5rem;
        left: 1.5rem;
    }
    /* Pil der viser videre på de forskellige projektsider */
    .arrowcontinue{
        display: block;
        position: absolute;
        background-color: var(--background-color);
        padding: 2rem;
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
        top: 50.5rem;
    }

    .arrowcontinue div{
        width: 64px;
        height: 64px;
        border-radius: 45px;
        background-color: var(--secondary-text-color);
    }
    .arrowcontinue div img{
        width: 32px;
        padding: 1rem;
        border-radius: 45px;
        background-color: var(--secondary-text-color);
    }

    /* Xenos */
    /* Blanding af bars, billeder og tekst der er bliver rykket rundt */
    .xenosmood {
        position: absolute;
        top: 20rem;
        right: 7rem;
        width: 35% !important;
    }
    .xenossplitbar {
        margin-top: 5rem;
        margin-bottom: 5rem;
        border-top: 2px solid var(--primary-text-color);
        border-style: dashed;
        color: transparent;
    }
    .xenosimg1 {
        position: absolute;
        top: 63rem;
        right: 15rem;
    }
    .xenosimg2 {
        position: absolute;
        top: 86.5rem;
        right: 11rem;
    }
    .xenosimg3 {
        position: absolute;
        top: 110.2rem;
        right: 7rem;
        margin-top: 0rem !important;
    }
    .xenospintro {
        width: 50% !important;
        font-size: 24px !important;
    }

    .xenosp1{
        margin-top: 11.5rem !important;
        margin-left: 5rem;
    }

    .xenosp2 {
        margin-top: 6.5rem !important;
        margin-left: 10rem;
        margin-bottom: 0rem !important;
    }

    .xenosp3 {
        margin-left: 15rem;
        margin-top: 9.5rem !important;
        margin-bottom: 10rem !important;
        width: 43% !important;
    }
    .xenosbar1 {
        position: absolute;
        border-right: 3px solid var(--primary-text-color);
        height: 56.5rem;
        top: 63rem;
        left: 7rem;
    }

    .xenosbar2 {
        position: absolute;
        width: 5rem;
        left: 7rem;
        border-bottom: 3px solid var(--primary-text-color);
        top: 97rem;
    }

    .xenosbar3 {
        position: absolute;
        width: 10rem;
        left: 7rem;
        border-bottom: 3px solid var(--primary-text-color);
        top: 119.5rem;
    }

    /* Rhythm Studio */
    /* Blanding af bars, billeder og tekst der er bliver rykket rundt */
    .rhythmmood {
        position: absolute;
        width: 500px !important;
        top: 17rem;
        right: 10rem;
    }
    .rhythmsplitbar {
        margin-top: 8.75rem;
        margin-bottom: 6rem;
        border-top: 2px solid var(--primary-text-color);
        border-style: dashed;
        color: transparent;
    }
    .rhythmimg1 {
        position: absolute;
        top: 61.5rem;
        right: 7rem;
        width: 750px !important;
    }

    .rhythmimg2 {
        position: absolute;
        width: 70% !important;
        top: 95rem;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 5rem;
    }
    .rhythmfinal {
        margin-bottom: 51rem;
    }

    /* Swing */
        /* Blanding af billeder og tekst der er bliver rykket rundt */
    .swingimg1 {
        position: absolute;
        top: 21rem;
        right: 7rem;
    }
    .swingp1 {
        margin-top: 6.5rem !important;
    }
    .swingsplitbar {
        margin-top: 6.65rem;
        margin-bottom: 6rem;
        border-top: 2px solid var(--primary-text-color);
        border-style: dashed;
        color: transparent;
    }
    .swingimg2{
        position: absolute;
        right: 7rem;
        top: 64rem;
    }
    .swingimg3{
        position: absolute;
        top: 104rem;
        left: 50%;
        transform: translate(-50%);
        width: 75% !important;
        border: none !important;
    }
    .swingfinal {
        margin-bottom: 60rem !important;
    }

    /* Outer Travels */
        /* Blanding af billeder og tekst der er bliver rykket rundt */
    .spaceimg1 {
        position: absolute;
        top: 22rem;
        right: 7rem;
        width: 45rem !important;
    }
    .spacebanner {
        position: absolute;
        top: 62.5rem;
        right: 7rem;
        width: 45rem !important;
    }
    .spaceimg2 {
        position: absolute;
        top: 73rem;
        right: 10.5rem;
    }
    .spacefinal{
        margin-bottom: 5rem;
    }
  }